<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="_PUBLIC_/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            height: 100%;
            width: 100%;
            background-color: #5bc0de;
        }

        h1 {
            text-align: center;
            text-shadow: #0f0f0f;
        }

        .registCon {
            height: 100%;
            width: 100%;
            margin-top: 40px;
        }

        .form-horizontal {
            background-color: gainsboro;
            padding-bottom: 40px;
            border-radius: 15px;
        }

        .form-horizontal .form-group {
            padding: 0 20px;
            margin: 0 0 25px 0;
        }

        #submit {
            margin-left: 20px;
            float: left;
            border-radius: 12px;
        }

        #reset {
            float: right;
            margin-right: 20px;
            border-radius: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default " role="navigation">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="__MODULE__/Index">首页</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="operation"><a href="__MODULE__/Index/rankList">运动榜</a></li>
                        <li class="operation"><a href="__MODULE__/Index/dynamic">动态</a></li>
                        <li><a href="__MODULE__/Index/record">个人记录</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <if condition="isset($_SESSION['user'])">
                            <li class="active"><a href="__MODULE__/User/info/id/<{$Think.session.user.user_id}>"><{$Think.session.user.user_number}></a></li>
                            <li class="operation"><a href="__MODULE__/User/logout"><span class="glyphicon glyphicon-log-out">注销</span></a></li>
                            <else />
                            <li><a href="__MODULE__/Regist"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li><a href="__MODULE__/Login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                            <!--<li class="operation"><a href="#">个人信息</a></li>-->
                        </if>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="registCon">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <form class="form-horizontal" action="__MODULE__/User/password"
                          method="post" onsubmit="return checkPwd()">
                        <h1><strong>修改密码</strong></h1>
                        <input type="hidden" value="<{$user_id}>" name="user_id">
                        <div class="form-group">
                            <input type="password" placeholder="输入原密码 长度为6-16位" required class="form-control"
                                   name="user_oldpassword" id="oldPwd">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="输入新密码 长度为6-16位" required class="form-control"
                                   name="user_newpassword" id="newPwd">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="确认新密码 长度为6-16位" required class="form-control"
                                   name="user_newpassword1" id="newPwd1">
                        </div>
                        <input type="submit" class="btn btn-default" value="提交" name="submit" id="submit">
                        <input type="reset" class="btn btn-default" value="重置" name="reset" id="reset">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkPwd() {
        var oldPwd = document.getElementById('oldPwd').value;
        var newPwd = document.getElementById('newPwd').value;
        var newPwd1 = document.getElementById('newPwd1').value;
        if(oldPwd === null || oldPwd === ''){
            alert('原密码不能为空！');
            return false;
        }

        if(oldPwd.length<6 || oldPwd.length>16){
            alert('密码长度必须是6-16位！');
            return false;
        }

        if(newPwd === null || newPwd === ''){
            alert('新密码不能为空！');
            return false;
        }

        if(newPwd.length<6 || newPwd.length>16){
            alert('新密码长度必须是6-16位！');
            return false;
        }
        if(newPwd1=== null || newPwd1 === ''){
            alert('确认密码不能为空！');
            return false;
        }

        if(newPwd1.length<6 || newPwd1.length>16){
            alert('确认密码长度必须是6-16位！');
            return false;
        }

        if(newPwd!==newPwd1){
            alert('密码不一致！');
            return false;
        }
    }
</script>
</body>
</html>